body {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  height: 100vh;
  margin: 0;
}

div {
  border: 1px solid black;
}
#GridArea1 {
  display: grid;
  grid-template-columns: 60% 15% 25%;
  min-height: 140px;
}
.Box1 {
  text-align: center;
  padding: 25px;
}
.Box2 {
  text-align: center;
  padding: 25px;
}
.Box3 {
  text-align: center;
  text-decoration: underline;
  padding: 25px;
}
#GridArea2 {
  display: grid;
  max-height: 15px;
  background-color: cyan;
}
#GridArea3 {
  display: grid;
  height: 800px;
  background-color: bisque;
  align-items: center;
}
#GridArea4 {
  display: grid;
  grid-template-columns: auto auto auto;
  min-height: 200px;
}
#GridArea5 {
  display: grid;
  background-color: bisque;
  min-height: 50px;
}
#GridArea6 {
  display: grid;
  grid-template-columns: auto auto auto;
  min-height: 400px;
}
#GridArea7 {
  display: grid;
  background-color: bisque;
  min-height: 800px;
}
#GridArea8 {
  display: grid;
  background-color: bisque;
  min-height: 200px;
}
#GridArea9 {
  display: grid;
  min-height: 100px;
  background-color: blue;
}
